.divimg {
  width: 250px;
  height: 90px;
}

.div {
  border: none;
  height: 90px;
  width: 250px;
  top: 10px;
  padding-left: 20px;
  position: absolute;
}

.div2 {
  border: none;
  height: 220px;
  width: 450px;
  top: 10px;
  position: absolute;
}

.div3 {
  border: none;
  height: 90px;
  width: 250px;
  top: 10px;
  position: absolute;
}

.div4 {
  border: none;
  position: absolute;
  width: 920px;
  height: 2350px;
  top: 270px;
}

.mycontainer {
  display: grid;
  grid-template-columns: 18.5% 17.2% 29.8% 17.2% 0%;
}
.mycontainer > a {
  width: 100%;
}
