@font-face {
  font-family: brawlFont;
  src: url(../fonts/brawl_font.ttf);
}

@font-face {
  font-family: brawlFont2;
  src: url(../fonts/Brawl_font2.ttf);
}

.text {
  color: white;
  font-family: brawlFont;
  font-size: x-large;
}

.text1 {
  color: white;
  text-align: center;
  font-family: brawlFont2;
}
